### Interpreting Results of Logistic Regression

In this notebook (and quizzes), you will be getting some practice with interpreting the coefficients in logistic regression.  Using what you saw in the previous video should be helpful in assisting with this notebook.

The dataset contains four variables: `admit`, `gre`, `gpa`, and `prestige`:

* `admit` is a binary variable. It indicates whether or not a candidate was admitted into UCLA (admit = 1) our not (admit = 0).
* `gre` is the GRE score. GRE stands for Graduate Record Examination.
* `gpa` stands for Grade Point Average.
* `prestige` is the prestige of an applicant alta mater (the school attended before applying), with 1 being the highest (highest prestige) and 4 as the lowest (not prestigious).

To start, let's read in the necessary libraries and data.

In [14]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv("./admissions.csv")
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

In [20]:
df['prestige'].mode()

0    2
dtype: int64

There are a few different ways you might choose to work with the `prestige` column in this dataset.  For this dataset, we will want to allow for the change from prestige 1 to prestige 2 to allow a different acceptance rate than changing from prestige 3 to prestige 4.

1. With the above idea in place, create the dummy variables needed to change prestige to a categorical variable, rather than quantitative, then answer quiz 1 below.

`2.` Now, fit a logistic regression model to predict if an individual is admitted using `gre`, `gpa`, and `prestige` with a baseline of the prestige value of `1`.  Use the results to answer quiz 2 and 3 below.  Don't forget an intercept.

In [15]:
df_new = df.copy()

In [16]:
df_new[['highest', 'high', 'low','lowest' ]] = pd.get_dummies(df_new['prestige'])

In [17]:
df_new.drop(['highest', 'prestige'], axis=1, inplace=True)

In [19]:
df_new.head()

   admit  gre   gpa  high  low  lowest
0      0  380  3.61     0    1       0
1      1  660  3.67     0    1       0
2      1  800  4.00     0    0       0
3      1  640  3.19     0    0       1
4      0  520  2.93     0    0       1

In [24]:
df_new['intercept']=1
response = df_new['admit']
predictors = df_new[['intercept','gre', 'gpa', 'high','low','lowest']]
model = sm.Logit(response, predictors)

result = model.fit()

result.summary2()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Logit
===============================================================
Model:              Logit            No. Iterations:   6.0000
Dependent Variable: admit            Pseudo R-squared: 0.082
Date:               2020-05-27 11:19 AIC:              467.6399
No. Observations:   397              BIC:              491.5435
Df Model:           5                Log-Likelihood:   -227.82
Df Residuals:       391              LL-Null:          -248.08
Converged:          1.0000           Scale:            1.0000
----------------------------------------------------------------
             Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
----------------------------------------------------------------
intercept   -3.8769    1.1425  -3.3934  0.0007  -6.1161  -1.6376
gre          0.0022    0.0011   2.0280  0.0426   0.0001   0.0044
gpa          0.7793    0.3325   2.3438  0.0191   0.1276   1.4311
high        -0.6801    0.3169  -2.1459  0.0319  -1.3013  -0.0589
low         -1.3387    0.3449  -3.8819  0.0001  -2.0146  -0.6628
lowest      -1.5534    0.4175  -3.7211  0.0002  -2.3716  -0.7352
===============================================================

"""

In [25]:
#exponents

gre_coef = np.exp(0.0022)
gpa_coef= np.exp(0.7793)
high_coef= 1/np.exp(-0.6801)
low_coef = 1/np.exp(-1.3387)
lowest_coef = 1/np.exp(-1.5534)

In [35]:
print(f'gre_coef:{gre_coef}\ngpa_coef:{gpa_coef}\nhigh_coef:{high_coef}\nlow_coef:{low_coef}\n lowest_coef: {lowest_coef}')

gre_coef:1.0022024217756431
gpa_coef:2.1799457692483717
 high_coef:1.9740751298733885
 low_coef:3.81408197450317
 lowest_coef: 4.727516444398727