# Assessing
Use the space below to explore `winequality-red.csv` and `winequality-white.csv` to answer the quiz questions below.

In [7]:
import pandas as pd
red_df = pd.read_csv('winequality-red.csv', sep=';')
white_df = pd.read_csv('winequality-white.csv', sep=';')

## Activities

**number of samples in each dataset**

**number of columns in each dataset**

**features with missing values**

**duplicate rows in the white wine dataset**

**number of unique values for quality in each dataset**

**mean density of the red wine dataset**

## Explore Data

In [8]:
red_df.head(2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur-dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [9]:
white_df.head(2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

#### Red Wine

In [65]:
print('SHAPE: ', red_df.shape, '\n')
print('DATA TYPES: \n')
print(red_df.dtypes, '\n')
print('INFO: \n')
print(red_df.info(), '\n')
print('Unique Values for Red Wine Rating: ' , red_df['quality'].nunique())
print('Null Values: ' , red_df.columns.isnull().any())
print('Nan Values: ' , red_df.columns.isna().any())

# find duplicated values
print('\nDuplicated Values:\n')
duplicate_red = red_df[red_df.duplicated()==True]
print(duplicate_red.shape,'\n')

print('Mean density of the red wine dataset:', red_df['density'].mean())

SHAPE:  (1599, 12)

DATA TYPES:

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur-dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed_acidity           1599 non-null float64
volatile_acidity        1599 non-null float64
citric_acid             1599 non-null float64
residual_sugar          1599 non-null float64
chlorides               1599 non-null float64
free_sulfur_dioxide     1599 non-null float64
total_sulfur-dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None

Unique Values for Red Wine Rating:  6
Null Values:  False
Nan Values:  False

Duplicated Values:

(240, 12)

Mean density of the red wine dataset: 0.996746679174

#### White Wine

In [68]:
print('SHAPE: ', white_df.shape, '\n')
print('DATA TYPES: \n')
print(white_df.dtypes, '\n')
print('INFO: \n')
print(white_df.info(), '\n')
print('Unique Values for White Wine Rating: ' , white_df['quality'].nunique())
# print('Duplicated Values: ' , white_df.columns.duplicated().any())
print('Null Values: ' , white_df.columns.isnull().any())
print('Nan Values: ' , white_df.columns.isna().any())

# find duplicated values
print('\nDuplicated Values:\n')
duplicate_white = white_df[white_df.duplicated()==True]
print(duplicate_white.shape)
# duplicate_white

SHAPE:  (4898, 12)

DATA TYPES:

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed_acidity           4898 non-null float64
volatile_acidity        4898 non-null float64
citric_acid             4898 non-null float64
residual_sugar          4898 non-null float64
chlorides               4898 non-null float64
free_sulfur_dioxide     4898 non-null float64
total_sulfur_dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
None

Unique Values for White Wine Rating:  7
Null Values:  False
Nan Values:  False

Duplicated Values:

(937, 12)