# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`. You should've created this data file in the previous section: *Merging Datasets*.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# load dataset
df =pd.read_csv('combined_dataset.csv')

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [25]:
model_mpg = df.groupby('model')['cmb_mpg_2008','cmb_mpg'].mean().reset_index()

In [26]:
model_mpg.head()

       model  cmb_mpg_2008    cmb_mpg
0  ACURA RDX     19.000000  22.500000
1    AUDI A3     23.333333  28.000000
2    AUDI A4     21.000000  27.000000
3    AUDI A6     19.666667  25.666667
4  AUDI A8 L     16.500000  22.000000

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [27]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [28]:
model_mpg.head()

       model  cmb_mpg_2008    cmb_mpg  mpg_change
0  ACURA RDX     19.000000  22.500000    3.500000
1    AUDI A3     23.333333  28.000000    4.666667
2    AUDI A4     21.000000  27.000000    6.000000
3    AUDI A6     19.666667  25.666667    6.000000
4  AUDI A8 L     16.500000  22.000000    5.500000

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [29]:
max_mpg_change = model_mpg.mpg_change.max()
max_mpg_change

16.533333333333339

In [43]:
best_model = model_mpg.query('mpg_change = = 16.533333333333339')['model'].values.tolist()[0]

In [44]:
best_model

'VOLVO XC 90'