# Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [78]:
# load files
alpha08 = pd.read_csv('all_alpha_08.csv')
alpha18=pd.read_csv('all_alpha_18.csv')

### Objectives

**number of samples in each dataset**

**number of columns in each dataset**

**duplicate rows in each dataset**

**datatypes of columns**

**features with missing values**

**number of non-null unique values for features in each dataset**

**what those unique values are and counts for each**

In [79]:
alpha08.head(4)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no

In [80]:
alpha18.head(3)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402

### Explore datasets

#### Data Info

In [81]:
print(alpha08.shape,'\n')
print(alpha08.dtypes, '\n')
alpha08.info()

(2404, 18)

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [82]:
print(alpha18.shape,'\n')
print(alpha18.dtypes, '\n')
alpha18.info()

(1611, 18)

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

#### Check for sum of rows with  missing values

In [83]:
print(f'  alpha08 \nNull Values: {alpha08.isnull().sum().sum()}\nNan Values: {alpha08.isna().sum().sum()}')

  alpha08
Null Values: 1685
Nan Values: 1685

In [84]:
print(f'  alpha18 \nNull Values: {alpha18.isnull().sum().sum()}\nNan Values: {alpha18.isna().sum().sum()}')

  alpha18
Null Values: 4
Nan Values: 4

#### Identify missing values

In [85]:
print(f'Sum of alpha08 rows with missing values: {alpha08.isnull().any(axis=1).sum()}\n')

Sum of alpha08 rows with missing values: 199

In [86]:
print(f'Sum of alpha08 Columns with missing values: {alpha08.isnull().any(axis=0).sum()}\n')
print('alpha08 columns with missing values: ')
[k for k,v in alpha08.apply(lambda x: x.isnull().any()).to_dict().items() if v == True]

Sum of alpha08 Columns with missing values: 9

alpha08 columns with missing values:

['Cyl',
 'Trans',
 'Drive',
 'FE Calc Appr',
 'City MPG',
 'Hwy MPG',
 'Cmb MPG',
 'Unadj Cmb MPG',
 'Greenhouse Gas Score']

In [87]:
print(f'Sum of alpha18 rows with missing values: {alpha18.isnull().any(axis=1).sum()}\n')

Sum of alpha18 rows with missing values: 2

In [88]:
print(f'Sum of alpha08 Columns with missing values: {alpha18.isnull().any(axis=0).sum()}\n')
print('alpha18 columns with missing values:')
[k for k,v in alpha18.apply(lambda x: x.isnull().any()).to_dict().items() if v == True]

Sum of alpha08 Columns with missing values: 2

alpha18 columns with missing values:

['Displ', 'Cyl']

#### Check for sum of duplicated rows

In [89]:
print(f'alpha08 has duplicates:: {alpha08.duplicated().any()}')
print(f'alpha08 duplicated rows: {alpha08.duplicated().sum()}')

alpha08 has duplicates:: True
alpha08 duplicated rows: 25

In [90]:
print(f'alpha18 has duplicates:: {alpha18.duplicated().any()}')
print(f'alpha18 duplicated rows: {alpha18.duplicated().sum()}')

alpha18 has duplicates:: False
alpha18 duplicated rows: 0

#### Check for unique values

In [91]:
print(f'alpha08 unique values:\n\n{alpha08.nunique()}')
# print(f'alpha08 unique values type: {alpha08.nunique().dtypes}')

alpha08 unique values:

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [92]:
print(f'alpha18 unique values:\n\n{alpha18.nunique()}')
# print(f'alpha18 unique values type: {alpha18.nunique().dtypes}')

alpha18 unique values:

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

#### Describe datasets

In [93]:
print(f'alpha08 Numeric:\n')
pd.DataFrame(alpha08.describe())

alpha08 Numeric:

             Displ  Unadj Cmb MPG
count  2404.000000    2205.000000
mean      3.748918      23.916104
std       1.335785       6.366170
min       1.300000      10.018400
25%       2.500000      19.113900
50%       3.500000      23.921300
75%       4.800000      27.869300
max       8.400000      65.777800

In [94]:
print(f'alpha18 Numeric:\n')
pd.DataFrame(alpha18.describe())

alpha18 Numeric:

             Displ          Cyl  Air Pollution Score  Greenhouse Gas Score
count  1609.000000  1609.000000          1611.000000           1611.000000
mean      3.055687     5.479180             3.958411              4.711359
std       1.344574     1.749121             1.824303              1.657429
min       1.200000     3.000000             1.000000              1.000000
25%       2.000000     4.000000             3.000000              4.000000
50%       3.000000     6.000000             3.000000              5.000000
75%       3.600000     6.000000             5.000000              6.000000
max       8.000000    16.000000            10.000000             10.000000

In [95]:
print(f'alpha08 Categorical:\n')
pd.DataFrame(alpha08.describe(include=[object]))

alpha08 Categorical:

,Model,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
count,2404,2205,2205,2311,2404,2404,2404,2404,2404,2404,2205,2205,2205,2205,2205,2404
unique,436,8,14,2,5,3,12,343,9,13,2,39,43,38,20,2
top,GMC Sierra 15,(6 cyl),Auto-L4,2WD,Gasoline,FA,B5,8GMXK06.0389,small car,6,Drv,17,24,20,6,no
freq,25,864,502,1525,2318,1157,990,48,692,1471,2175,233,241,215,589,1766

In [96]:
print(f'alpha18 Categorical:\n')
pd.DataFrame(alpha18.describe(include=[object]))

alpha18 Categorical:

,Model,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,City MPG,Hwy MPG,Cmb MPG,SmartWay,Comb CO2
count,1611,1611,1611,1611,1611,1611,1611,1611,1611,1611,1611,1611,1611,1611
unique,367,26,2,5,2,19,19,230,9,58,62,57,3,299
top,FORD F150,SemiAuto-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JPRXV03.0C91,small car,22,25,23,No,523
freq,44,344,887,1492,813,322,322,60,562,149,136,136,1414,24

#### Fuel Types

In [97]:
set(alpha08['Fuel'].values.tolist())

{'CNG', 'Gasoline', 'diesel', 'ethanol', 'ethanol/gas'}

In [98]:
set(alpha18['Fuel'].values.tolist())

{'Diesel', 'Electricity', 'Ethanol/Gas', 'Gasoline', 'Gasoline/Electricity'}