# Drawing Conclusions Using Groupby

Use `winequality_edited.csv`. You should've created this data file in the previous section: *Appending Data (cont.)*.

In [3]:
# Load dataset
import pandas as pd
import numpy as np

df = pd.read_csv("winequality_edited.csv")

In [4]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

### Is a certain type of wine associated with higher quality?

In [12]:
# Find the mean quality of each wine type (red and white) with groupby
df.groupby('color')['quality'].mean().to_dict()

{'red': 5.6360225140712945, 'white': 5.87790935075541}

### What level of acidity receives the highest average rating?

In [23]:
# View the min, 25%, 50%, 75%, max pH values with Pandas describe
ph_description = df['pH'].describe().to_dict()
ph_description

{'count': 6497.0,
 'mean': 3.2185008465445586,
 'std': 0.16078720210398764,
 'min': 2.72,
 '25%': 3.11,
 '50%': 3.21,
 '75%': 3.32,
 'max': 4.01}

In [37]:
# Bin edges that will be used to "cut" the data into groups
bin_edges = [ph_description['min'],ph_description['25%'],ph_description['50%']
             ,ph_description['75%'],ph_description['max'] ] # Fill in this list with five values you just found

In [38]:
# Labels for the four acidity level groups
bin_names = ['High','Moderately High','Medium','Low'] # Name each acidity level category

In [39]:
# Creates acidity_levels column
df['acidity_levels'] = pd.cut(df['pH'], bin_edges, labels=bin_names)

# Checks for successful creation of this column
df[df['acidity_levels']=='Low'].head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
13,6.6,0.16,0.40,1.5,0.044,48.0,143.0,0.9912,3.54,0.52,12.4,7,white,Low
17,6.2,0.66,0.48,1.2,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,8,white,Low
20,6.2,0.66,0.48,1.2,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,8,white,Low
22,6.8,0.26,0.42,1.7,0.049,41.0,122.0,0.9930,3.47,0.48,10.5,8,white,Low
24,6.6,0.27,0.41,1.3,0.052,16.0,142.0,0.9951,3.42,0.47,10.0,6,white,Low

In [40]:
# Find the mean quality of each acidity level with groupby
df.groupby(df['acidity_levels'])['quality'].mean()

acidity_levels
High               5.783343
Moderately High    5.784540
Medium             5.850832
Low                5.859593
Name: quality, dtype: float64

In [41]:
# Save changes for the next section
df.to_csv('winequality_edited.csv', index=False)