# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`. You should've created these data files in the previous section: *Cleaning Column Labels*.

In [132]:
# load datasets
import pandas as pd
df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

In [133]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [134]:
# view dimensions of dataset
df_18.shape

(1611, 14)

## Filter by Certification Region

In [135]:
# filter datasets for rows following California standards
df_08 = df_08.query('cert_region == "CA"')#.drop('cert_region',axis=1)

In [136]:
df_18 = df_18.query('cert_region == "CA"')#.drop('cert_region', axis=1)

In [137]:
df_08.head(2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no

In [138]:
df_18.head(2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No

In [139]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [140]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [141]:
df_08.shape

(1084, 14)

In [142]:
df_18.shape

(798, 14)

In [143]:
# drop certification region columns form both datasets
df_08.drop('cert_region', axis=1, inplace=True)
df_18.drop('cert_region', axis=1, inplace=True)

In [144]:
df_08.shape

(1084, 13)

In [145]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values

In [146]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [147]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [148]:
# drop rows with any null values in both datasets
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [149]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [150]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data

In [151]:
# print number of duplicates in 2008 and 2018 datasets
print(f'2008 duplicates: {df_08.duplicated().sum()}')
print(f'2018 duplicates: {df_18.duplicated().sum()}')

2008 duplicates: 23
2018 duplicates: 3

In [152]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [153]:
# print number of duplicates again to confirm dedupe - should both be 0
print(f'2008 duplicates: {df_08.duplicated().sum()}')
print(f'2018 duplicates: {df_18.duplicated().sum()}')

2008 duplicates: 0
2018 duplicates: 0

In [154]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)